body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    overflow: hidden;
    background: black;
}

.container {
    position: relative;
    text-align: center;
    z-index: 10;
    margin-top: 15vh;
}

.title {
    font-size: 3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #00ffea;
    text-shadow: 0 0 20px #00ffee;
}

.sub {
    opacity: 0.8;
}

#runBtn {
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    background: #00ffaa;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

#runBtn:hover {
    background: #00d48b;
}

#output {
    margin-top: 25px;
    padding: 20px;
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
    width: 400px;
    text-align: left;
    white-space: pre-wrap;
    margin-left: auto;
    margin-right: auto;
}

/* CODE ANIMATION BACKGROUND */
.code-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0,255,200,0.07) 2%,
        transparent 4%
    );
    animation: codeScroll 5s linear infinite;
}

@keyframes codeScroll {
    0% { background-position: 0 0; }
    100% { background-position: 0 1000px; }
}
